<!DOCTYPE html>

<html>

<head>
    <title>404 Error</title>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather-icon.png"
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{title}}
        {{errorMessage}}
        <p>- love {{name}}</p>
    </div>

    {{>footer}}
</body>
</html>